<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Leg Workouts</ion-title>
</ion-toolbar>
<ion-content>
  <ion-card>
    <img alt="Leg Press" src="../../assets/images/lw1.jpg" />
    <ion-card-header>
      <ion-card-title>Leg Press</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="Single Leg Split Squad" src="../../assets/images/lw2.jpg" />
    <ion-card-header>
      <ion-card-title>Single Leg Split Squad</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="Barbell RDS" src="../../assets/images/lw3.jpg" />
    <ion-card-header>
      <ion-card-title>Barbell RD'S</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="KHT" src="../../assets/images/lw4.jpg" />
    <ion-card-header>
      <ion-card-title>KettleBell Hip Thrusts </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="SLCR" src="../../assets/images/lw5.jpg" />
    <ion-card-header>
      <ion-card-title>Straight Leg Calf Raise</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
