<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Back Workouts</ion-title>
</ion-toolbar>
<ion-content>
  <ion-card>
    <img alt="DR" src="../../assets/images/bw.jpg" />
    <ion-card-header>
      <ion-card-title>Dumbell Rows</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="PU" src="../../assets/images/bw1.jpg" />
    <ion-card-header>
      <ion-card-title>Pull Ups</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="CSDR" src="../../assets/images/bw2.jpg" />
    <ion-card-header>
      <ion-card-title>Chest Supported DumbBell Row</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="SCHR" src="../../assets/images/bw3.jpg" />
    <ion-card-header>
      <ion-card-title>Seated Cable High Row</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="CPD" src="../../assets/images/bw4.jpg" />
    <ion-card-header>
      <ion-card-title>Cable Pull Downs</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
