ion-content,
ion-toolbar,
ion-card {
  --background: #000000;
}

ion-card-title {
  color: yellow;
  text-align: center;
  font-size: 15px;
}

ion-back-button {
  color: yellow;
}

ion-title {
  text-align: left;
  color: yellow;
}
